/*
Theme name: coinTheme;
Author: Igor Barabash;
Author URI: www.potatosites.com;
Version: 1.0;
*/
@import "variables";
@import "mixins";

/* pt-sans-narrow-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-narrow-v8-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Narrow'), local('PTSans-Narrow'),
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-regular.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
}
/* pt-sans-narrow-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-narrow-v8-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-narrow-v8-latin_cyrillic-700.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
}
html{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	position: relative;
	overflow-x: hidden;
}
body{
    position: relative;
	min-height: calc(100% - 160px);
	padding-bottom: 160px;
    list-style: none;
	overflow-x: hidden;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
    font-family: 'PT Sans Narrow', Polatino;
	font-weight: 400;
	line-height: 1.6;
	color: $text-gray;
	font-size: 18px;
	background-color: white;
}
.fonts-loading body{
	.post-header>a{
		opacity: 0;
	}
	.post-info{
		opacity: 0;
	}
	.post-excerpt p{
		opacity: 0;
	}
	.post-header:after{
		opacity: 0;
	}
}
.fonts-loaded body,
.fonts-failed body {
    .post-header>a{
		opacity: 1;
	}
	.post-info{
		opacity: 1;
	}
	.post-excerpt p{
		opacity: 1;
	}
}
.post-header>a, .post-info, .post-excerpt p{
	-webkit-transition: opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1);
	-o-transition: opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1);
	transition: opacity 0.3s cubic-bezier(0.6, 0.2, 0.1, 1);
}
*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box; 
}
img{
	border: none;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
.comment-cnt img{
	width: auto;
}
p {margin-bottom: 1em;}

h1, h2, h3, h4 {
	padding: 0.5em 0 0.5em;
	font-weight: inherit;
	line-height: 1.2;
}
h1 {
	font-size: 4em;
}
h2 {font-size: 3em;}

h3 {font-size: 2em;}

h4 {font-size: 1.5em;}
a{
	-webkit-transition: color 0.1s linear 0s;
	-o-transition: color 0.1s linear 0s;
	transition: color 0.1s linear 0s;
}
a:link{
	@include link($almost-black, none);
}
a:visited{
	@include link($almost-black, none);
}
a:hover{
	@include link($light-blue, none);
}
a:active{
	@include link(#ff794d, none);
} 
header>h1{
	padding-top: 1em;
    padding-right: 10px;
    padding-left: 10px;
	font-weight: 700;
	
}
header>h1>a:first-of-type{
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 72px;
    height: 72px;
	@media screen and (max-width: 900px) {
		padding: 0;
		vertical-align: top;
		width: 47px;
		height: 47px;
	}
}
#logo{
	display: inline-block;
	-webkit-transition: transform 0.4s;
	-o-transition: transform 0.4s;
	-webkit-transition: -webkit-transform 0.4s;
	transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s, -webkit-transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
	-o-transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
	transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
	position: absolute;
}
#home-url{
	background: url(../images/title.png) center center no-repeat;
	height: 72px;
	width: 190px;
	display: inline-block;
	background-size: contain;
	@media screen and (max-width: 900px) {
		    height: 47px;
		    width: 125px;
		}
}
.icon-coin{
	background: url(../images/money-coin.svg) center center no-repeat;
	height: 72px;
	width: 72px;
}
 header, .nav, .home-cnt, .post-cnt, .single-post-cnt{
	max-width: 1100px;
	margin: 0 auto;
}
.transition{
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
	-o-transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
	transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
}
/*========================MENU START====================================*/
.nav{
	font-size: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
}
#btn{
	display: none;
}
#menu-primary{
	@media screen and (min-width: 901px){
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		height: 52px;
	}
}
%line{
	content:"";
	position: absolute;
	left:10%;
	right: 10%;
	border-top: solid 1px $light-gray;
	width: 80%;
	-webkit-animation-name: animline;
	-webkit-animation-name: animline;
	animation-name: animline;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	opacity: 0;
	@media screen and (max-width: 900px){
		display: none;
	}
}
.top-line::before{
	@extend %line;
	top: -1px;
}
.top-line::after{
	@extend %line;
	bottom: -1px;
}
nav>.menu{
	list-style: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
	-o-transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
	transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
	-webkit-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
}
nav>.menu>li{
	.dropdown-menu{
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
		-o-transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
		transition-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
	}
}
ul{
	list-style: none;
}
nav>ul>li{
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
#menu-primary li{
		-webkit-transition: all .1s linear 0s;
		-o-transition: all .1s linear 0s;
		transition: all .1s linear 0s; 
	    &:hover{
	    	background-color: $light-gray;
			color: $almost-black;
	    }
	    &:active{
	    	background-color: $light-gray;
	    }
		a{ 	
			position: relative;
		    background-clip: content-box; 
			display: block;
			padding: 10px 35px;
			-o-transition: all 0.1s ease-in-out;
			-webkit-transition: all 0.1s ease-in-out;
			transition: all 0.1s ease-in-out;
			@media screen and (min-width: 901px) {
			.loading-el{
					background-color: $light-gray;
					position: absolute;
					top: 10px;
					left: 35px;
					right: 35px;
					bottom: 10px;
				}
		    }
			@media screen and (max-width: 900px) {
			    padding: 20px 35px;
			    .loading-el{
			    	background-color: $light-gray;
					position: absolute;
					top: 20px;
					left: 35px;
					right: 35px;
					bottom: 20px;
			    }
			}
			&:active{
				@include link(#ff794d, none);
			}
	 }
}
html.can-touch #menu-primary li:hover{
	background-color: transparent;
}
.dropdown-menu{
    max-height: 0px;
    overflow: hidden;
	position: absolute;
	top: 100%;	
	min-width: 100%;
	background-color: white;
	z-index: 10;
	-webkit-box-shadow: 0px 0px 10px -5px $dark-gray;
	box-shadow: 0px 0px 10px -5px $dark-gray;
	-webkit-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	transform-origin: 0% 0%; 		
}
.icon{
	height: 1.4em;
	width:  1.4em;
	display: inline-block;
	margin-right: 2px;
	float: left;
}
a[title=Home]{
	.icon{
		background: url(../images/home_24px.svg) center center no-repeat;
		background-size: 100% 100%;
	}
}
a[title^=About]{
	.icon{
		background: url(../images/people_black_24px.svg) center center no-repeat;
		background-size: 100% 100%;
	}
}
a[title^=Exchanges]{
	.icon{
		background: url(../images/show_chart_black_24px.svg) center center no-repeat;
		background-size: 100% 100%;
	}
}
a[title^=Support]{
	.icon{
		background: url(../images/support_24px.svg) center center no-repeat;
		background-size: 100% 100%;
	}
}
a[title^=Our]{
	.icon{
		background: url(../images/arrow_down_black_24px.svg) center center no-repeat;
		background-size: 100% 100%;
	}
}
.show-sub-drop{
	max-height: 9999px;
	-webkit-animation-name: rollInShow;
	animation-name: rollInShow;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
	animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
}
.hide-sub-drop{
	max-height: 0px;
	-webkit-animation-name: rollHide;
	animation-name: rollHide;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
	animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
}
/*========================MENU END====================================*/
.main{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column no-wrap;
	flex-flow: column no-wrap;
	min-height: calc(100vh - 409px);
	@media screen and (max-width: 900px){
			min-height: calc(100vh - 210px);
		}
}
.home-cnt{
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap; 
	-webkit-box-pack: start; 
	-ms-flex-pack: start; 
	justify-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	padding-top: 20px;
	&::after{
		content:"";
		position: absolute;
		width: 80%;
		left: 10%;
		right: 10%;
		bottom: 0;
		border-top: solid $light-gray 1px;
		@media screen and (max-width: 900px){
			display: none;
		}
		
	}
}
.bottom-fence{
	position: absolute;
	height: 33px;
	width: 98px;
	bottom: -34px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background: url(../images/fence.png) center center no-repeat;
	opacity: 0.2;
}
.margin{
	margin-bottom: 80px;
	min-height: calc(100vh - 290px);  
	@media screen and (min-width: 901px) {
		min-height: calc(100vh - 489px);    
	}
}
.bold{
	font-weight: bold;
}
/*========================POST START====================================*/
.post-cnt{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap; 
	-webkit-box-pack: start; 
	-ms-flex-pack: start; 
	justify-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}
.post-thumnail>a{
	position: relative;
	height: 0;
	padding-bottom: 50%;
	display: block;
	background-color: $light-gray;
	overflow: hidden;
	&:active span{
		color:#ff794d;
	}
	span{
		-webkit-transition: color 0.1s linear 0s;
		-o-transition: color 0.1s linear 0s;
		transition: color 0.1s linear 0s;
		position: absolute;
		z-index: 10;
		font-size: 76px;
		bottom: 0;
		left: 11px;
		color: $light-gray;
	}
	img{
		position: absolute;
	}
}
.single-post-cnt{
    padding: 1.5rem;
    width: 100%;
}
.inner-single-post{
	position: relative;
}
.post-excerpt{
	position: relative;
}
.padding{
	padding-bottom: 1em;
}
.inner-post-cnt{
	max-width: 520px;
	margin: 0 auto;
	padding: 10px;
}
.post-content::after{
	content: "";
	clear: both;
	display: table;
}
.post{
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
}
.post:last-of-type{
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
}
.post-header{
	position: relative;
}
.no-padding{
	padding-top: 0;
}
.post-header:after{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 60%;
	border-bottom: 1px solid $light-gray;
}
.pagination-cnt{
	position: absolute;
	bottom: 160px;
	height: 80px;
	width: 100%;
	text-align: center;
	.inner-pag{
		height: 40px;
		margin-top: 40px;
		line-height: 40px;
	}
}
.read-more{
	line-height: 1.5em;
	height: 1.5em;
	width: 1em;
	display:inline-block;
	float: right;
}
.right-read-more{
	height: 1.5em;
	width: 1.5em;
	display: inline-block;
	background: url(../images/arrow_right_24px.svg) center center no-repeat;
	background-size: 100% 100%;
    vertical-align: text-top;
}
.left-read-more{
    height: 1.5em;
	width:  1.5em;
	display: inline-block;
	background: url(../images/arrow_left_24px.svg) center center no-repeat;
	background-size: 100% 100%;
}
.pagination-arrow{
	vertical-align: middle;
}
.first-p-with-text{
	&::first-letter{
		color: #ff794d;
		float: left;
		font-family: Georgia;
		font-size: 75px;
		line-height: 50px;
		padding-top: 4px;
		padding-right: 8px;
		padding-left: 3px;
	}
}
*{
	&::-moz-selection{
		background:$almost-black;
	}
	&::selection{
		color: $text-gray;
		background:$almost-black;
	}
}
/*========================POST END====================================*/

/*========================SINGL PAGE START====================================*/

.bottom-logo-cnt{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	a{
		margin-top: 1em;
		position: relative;
		display: inline-block;
		height: 24px;
		width: 24px;
			.bottom-logo{
				background: url(../images/money-coin-gr.svg) center center no-repeat;
				height: 24px;
		        width: 24px;
			}
		}
	&::before{
		content: "";
		position: absolute;
		width: 100%;
		top: 10px;
		left: 0;
        right: 0;
		border-bottom: solid 1px $light-gray
	}	
    } 
.the-post{
	position: relative;
}
/*========================SINGL PAGE END====================================*/

/*========================CUSTOM ELEMENTS START====================================*/
.edit-link-p{
	background-color: $light-gray;
	.post-edit-link{
		padding: 0 10px;
	}
}
.video-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; overflow: hidden; 
	background-color: $light-gray;
	margin: 1em 0;
}
.video-container iframe, .video-container object, .video-container embed, .video-container video { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
}
.video-container iframe{
	background-color: $almost-black;
}
.video-post-content{
	overflow: auto;
	&::after{
		content: "";
		clear: both;
		display: table;
	}
}
.screen{
	padding: 1rem 4rem;
	background-color: $almost-black;
	position: relative;
	z-index: 1;
	margin-bottom: 2rem;
	.video-container{
		margin: 0;
	}
	&::after {
	    content: "";
	    position: absolute;
	    z-index: -1; /* hide shadow behind image */
	    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);                
	    width: 80%; 
	    left: 10%; /* one half of the remaining 30% */
	    height: 100px;
	    bottom: 0;
	}
	@media screen and (max-width: 900px) {
		padding: 0.5rem 2rem;	    
	}
	@media screen and (max-width: 600px) {
		padding: 0;	    
	}
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.recent-post-cnt{
	.inner-recent-post-cnt{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		@media screen and (max-width: 1100px) {
			-ms-flex-preferred-size: 490px;
			flex-basis: 490px;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	 
		}
	}
}
.recent-post{
	font-size: 14px;
	line-height: 1.4;
	-ms-flex-preferred-size: calc(25% - 5px);
	flex-basis: 250px;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 1;
	flex-shrink: 1; 
	@media screen and (min-width: 601px) and (max-width: 1070px) {
		-ms-flex-preferred-size: calc(50% - 5px);
		flex-basis: calc(50% - 5px);
		&:nth-child(odd){
			padding-right: 5px;
	    }
	    &:nth-child(even){
			padding-left: 5px;
	    }
	}
	@media screen and (max-width: 600px) {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}
	h5{
		font-size: 1em;
		padding: 0;
	}
}
.column{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	padding-top: 1.5rem;
}
.searchform{
	margin: 10px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	input[type=text]{
		-webkit-box-flex: 4;
		-ms-flex: 4;
		flex: 4;
	}
	input[type=submit]{
	    font-family: 'PT Sans Narrow';
	    font-size: 14px;
	    display: table-cell;
	    -webkit-box-flex: 1;
	    -ms-flex: 1;
	    flex: 1;
	} 
}
#search-form-cnt>.searchform{
	-ms-flex-preferred-size: 300px;
	flex-basis: 300px;
	padding: 0 1.5rem;
}
.search-rez-post{
	padding: 0 1.5rem;
}
.search-post-cnt{
	.small-post-thumnail{
		width: 180px;
		float: left;
		margin-right: 10px;
		position: relative;
		z-index: 1;
		a{
			padding-bottom: 50%;
			position: relative;
			height: 0;
			display: block;
			background-color: $light-gray;
			overflow: hidden;
			&:active span{
				color:#ff794d;
			}
			span{
				-webkit-transition: color 0.1s linear 0s;
				-o-transition: color 0.1s linear 0s;
				transition: color 0.1s linear 0s;
				position: absolute;
				z-index: 10;
				font-size: 38px;
				bottom: 0;
				left: 5px;
				color: $light-gray;
			}
			img{
				position: absolute;
			}
	    }
	}
	&:after{
		  content: "";
		  clear: both;
		  display: table;
	}
}
hr{
	border-top: 1px solid;
    border-color: #e5e5e5;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
/*=============================================CUSTOM WORDPRESS TEXT STYLE start====================================*/
.wp-caption{
	background-color: $almost-black;
	padding: 1em 1em 0 1em;
	margin-bottom: 1em;
	.wp-caption-text{
		text-align: center;
		padding: 0;
		margin: 0;
	}
}
.wp-caption.alignnone, .wp-caption.aligncenter{
	width: 100% !important;
}
.wp-caption.alignright{
	float: right;
	width: auto !important;
	margin-left: 10px;
	img{
		width: auto;
	}
}
.wp-caption.alignleft{
	float: left;
	width: auto !important;
	margin-right: 10px;
	img{
		width: auto;
	}
}
p{
	.alignright{
		float: right;
		width: auto;
		margin: 5px 0 10px 10px;
	}
	.alignleft{
		float: left;
		width: auto;
		margin: 5px 10px 10px 0;
	}
	&:after{
		  content: "";
		  clear: both;
		  display: table;
	}
}
blockquote{
	p{
		padding: 0;
	}
	font-style: italic;
	border-left: solid 2px #ff794d;
	margin-left: 1.5rem;
	margin-bottom: 1em;
	padding: 0 0 0 0.5em;

}
p .alignright .aligncenter,
div.aligncenter, p .aligncenter{
    display: block;
    margin: 1em auto 1em auto;
    width: auto;
}
/*=============================CUSTOM WORDPRESS TEXT STYLE end============================*/
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	-webkit-clip-path: none;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}
/*========================CUSTOM ELEMENTS END====================================*/

/*========================COMMENTS START====================================*/
.comment-cnt{
	textarea{
		color: $dark-gray;
	    border: solid 1px #e5e5e5;	
	}
	.depth-2{
		margin-left: 25px;
	}
	.comment-metadata>a{
		font-size: 12px;
	}
	.comment-reply-link, .comment-edit-link{
		display: inline-block;
		padding: 0 10px;
		border: solid $light-gray 1px;

	}
	.comment-body{
		margin-bottom: 1em;
	}

}
.comment-form-comment>label{
	display: block;
}
.comment-form-author, .comment-form-email{
	display: table;
	label{
		display: table-cell;
		background-color: $light-gray;
		padding: 0 4px;
		vertical-align: middle;
		min-width: 54px;
	}
	input{
		display: table-cell;
	    font-family: 'PT Sans Narrow';
	    font-size: 14px;
	}
}
/*========================COMMENTS END====================================*/


.footer{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	color: gray;
	font-size: 12px;
	height: 160px;
	background-color: $footer-d-gray;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	background-image: url(../images/download.png);
	background-color: $footer-d-gray;
	overflow: hidden;
}
.about{
	text-align: left;
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	@media screen and (max-width: 600px) {
		    display: none;
		}
	p{
		padding-left: 30px;
		margin-bottom: 0;
	}
	h4{
		text-align: center;
	}
}
.footer-menu{
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative;
	a{
		color: $light-gray;
		&:hover{
			@include link($light-blue, none);
			}
		&:active{
			@include link(#ff794d, none);
		} 
	}
	div{
		padding-top: 1rem;
	}
	.footer-copy{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding-bottom: 0;
	}
}
.screen-reader-text{
	display:none;
}
.footer-search{
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	form{
		white-space: nowrap;
		-ms-flex-preferred-size: 250px;
		flex-basis: 250px;
		margin-right: 30px;
			input[type=text]{
			width: 80%;
			}
			@media screen and (max-width: 600px) {
			margin-right: 10px;
			padding: 0;
			}
	}
	
}
/*.search-form{
	display: table;
	margin-right: 30px;
	width: 220px;
	.search-field{
		width: 100%;
	}
	@media screen and (max-width: 600px) {
		    margin-right: 10px;
		}
}*/
input{
    padding: 3px 5px;
    height: 40px;
    color: $dark-gray;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: solid 1px #e5e5e5;
    font-family: 'PT Sans Narrow';
    font-size: 14px;
}
input[type=submit]{
	background-color: #e5e5e5;
	color: $text-gray;
	cursor: pointer;
	display: table-cell;
	-webkit-transition: background-color 0.2s ease-in-out 0s;
	-o-transition: background-color 0.2s ease-in-out 0s;
	transition: background-color 0.2s ease-in-out 0s;
	border: none;
	height: 40px;
	&:hover{
		background-color: $light-blue;
		color: $almost-black;
	}
	&:active{
		background-color: $light-blue;
	}
}
html.can-touch input[type=submit]:hover{
	background-color: $light-gray;
}
@media screen and (max-width: 900px){
	header>h1{
		padding: 0 0 0 10px;
		height: 50px;
		font-size: 2em;
		line-height: 50px;
		.icon-coin{
			width: 47px;
		    height: 47px;
		}
	}
	#btn{
		display: block;
		cursor: pointer;
		z-index: 999;
		width: 30px;
		height: 30px;
		position: absolute;
		top: -40px;
		right: 10px;
		-webkit-transition: background-color 0.2s ease-in-out 0s;
		-o-transition: background-color 0.2s ease-in-out 0s;
		transition: background-color 0.2s ease-in-out 0s;
	}

	#btn:hover div{
		background-color: $light-blue;
	}
	#btn:active div{
		background-color: $light-blue;
	}
	html.can-touch #btn:hover div{
		background-color: $almost-black;
	}
	.line{
		width: 28px;
		height: 5px;
		background-color: black;
		margin: 4px 0px;
		-webkit-transition: background-color 0.2s ease-in-out 0s;
		-o-transition: background-color 0.2s ease-in-out 0s;
		transition: background-color 0.2s ease-in-out 0s;
	}
	.nav{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap; 
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 20;
		.menu{
			max-height: 0;
			overflow: hidden;
			background-color: white;
			-webkit-box-shadow: 0px 0px 10px -5px $dark-gray;
			box-shadow: 0px 0px 10px -5px $dark-gray;
			li{
				width: 100%;
				display: block;
				.dropdown-menu{
					position: relative;
				}
			}
		}
		.show{
			max-height: 9999px;
			-webkit-animation-name: roollInShow;
			animation-name: rollInShow;
			-webkit-animation-duration: 0.3s;
			animation-duration: 0.3s;
			-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
			-webkit-animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
			animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
		}
		.hide{
			max-height: 0px;
			-webkit-animation-name: rollHide;
			animation-name: rollHide;
			-webkit-animation-duration: 0.3s;
			animation-duration: 0.3s;
			-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
			-webkit-animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
			animation-timing-function: cubic-bezier(0.6, 0.2, 0.1, 1);
		}
	}
	.single-post-cnt{
	    padding: 6px 1.5rem 1.5rem 1.5rem;
    }
    .post>.inner-post-cnt>h3:after{
		width: 80%;
	}
	textarea{
		width: 100%;
	}
}
@-webkit-keyframes animline{
	0%{-webkit-transform: scaleX(0);transform: scaleX(0);opacity: 1;}
	100%{-webkit-transform: scaleX(1);transform: scaleX(1);opacity: 1;}
}
@keyframes animline{
	0%{-webkit-transform: scaleX(0);transform: scaleX(0);opacity: 1;}
	100%{-webkit-transform: scaleX(1);transform: scaleX(1);opacity: 1;}
}
@-webkit-keyframes rollInShow{
	0%{-webkit-transform: scaleY(0);transform: scaleY(0);}
	100%{-webkit-transform: scaleY(1);transform: scaleY(1);}
}
@keyframes rollInShow{
	0%{-webkit-transform: scaleY(0);transform: scaleY(0);}
	100%{-webkit-transform: scaleY(1);transform: scaleY(1);}
}
@-webkit-keyframes rollHide{
	0%{-webkit-transform: scaleY(1);transform: scaleY(1);}
	100%{-webkit-transform: scaleY(0);transform: scaleY(0);}
}
@keyframes rollHide{
	0%{-webkit-transform: scaleY(1);transform: scaleY(1);}
	100%{-webkit-transform: scaleY(0);transform: scaleY(0);}
} 
@media screen and (max-width: 660px){
	.post{
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		.bot-line::after{
			content:'';
			display: block;
			position: absolute;
			bottom: 0;
			width: 75%;
			border-bottom: 1px solid $light-gray;
		}
		.no-padding{
			padding-top: 0.5em;
		}
		.inner-post-cnt>h4:after{
			width: 75%;
		}
	}
}
@media screen and (max-width: 400px){
	.post{
		.bot-line::after{
			width: 100%;
		}
	} 
	.post>.inner-post-cnt>h4:after{
		width: 100%;
	}
}	
