@font-face {
  font-family: 'coin-font';
  src:
    url('fonts/coin-font.svg?ojozcl#coin-font') format('svg'),
    url('fonts/coin-font.ttf?ojozcl') format('truetype'),
    url('fonts/coin-font.woff?ojozcl') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon-font {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'coin-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.coin-money-coin:before {
  content: "\e900";
}
.coin-film:before {
  content: "\e913";
}
